<template name="App_home">
  {{> info}}

  <h2>Concept pages</h2>
  <ul>
    {{#each route in getRoutes}}
      {{#unless (routeIsHome route)}}
        <li><a href="/{{route}}">{{route}}</a></li>
      {{/unless}}
    {{/each}}
  </ul>
</template>
