<template name="App_reactiveProps">
  <h1>Testing Reactive Props</h1>

  <section>
    <h2>Message box 1:</h2>
    {{> StatusMessage messageVar=(getMessageVar 'first')}}

    <form class="message-form">
      <input type="text" name="text">
      <input type="hidden" name="msgBox" value="first">
      <button type="submit">Update</button>
    </form>
  </section>

  <section>
    <h2>Message box 2:</h2>
    {{> StatusMessage messageVar=(getMessageVar 'second')}}

    <form class="message-form">
      <input type="text" name="text">
      <input type="hidden" name="msgBox" value="second">
      <button type="submit">Update</button>
    </form>
  </section>
</template>
